body{
    background: #fafafa;
}

.center-block{
    margin: 0 auto;
}

.fullscreen{
    height: 100vh !important;
}

.icon{
    width: 200px;
    height: 200px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.margin-10{
    margin: 10px;
}

.margin-vertical-10{
    margin-top:10px;
    margin-bottom: 10px;
}

max-width-150{
    max-width: 150px !important;
}

max-width-200{
    max-width: 200px !important;
}

.max-width-400{
    max-width: 400px;
}

.max-width-500{
    max-width: 500px;
}

.padding-5{
    padding:5px;
}

.padding-10{
    padding:10px;
}

.padding-15{
    padding:15px;
}

.padding-vertical-10{
    padding-top:10px;
    padding-bottom:10px;
}
.tabs{
    overflow-x:hidden;
}

#index-search-bar{
    z-index: 900;
}